<!DOCTYPE html>
<html>
	<head>
		<title></title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
		<meta charset="utf-8">

		<!-- iPad/iPhone specific css below, add after your main css >
		<link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="ipad.css" type="text/css" />
		<link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="iphone.css" type="text/css" />
		-->

		<!--<link rel="stylesheet" href="css/jqmobile-patch.css" type="text/css" />-->
		<link rel="stylesheet" href="js/jquery.mobile-1.2.0.min.css" type="text/css" />
		<link rel="stylesheet" href="css/iphone.css" type="text/css" />
		<link rel="stylesheet" href="css/popupwindow.css" type="text/css" />

		<script type="text/javascript" charset="utf-8" src="js/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/jquery.activity-indicator-1.0.0.js"></script>

		<script type="text/javascript" charset="utf-8" src="js/base64.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/aes.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/main.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/cordova.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/popupwindow.js"></script>

		<script type="text/javascript">
		
			$(document).bind("mobileinit", function() {
				// jQuery Mobile フレームワークの設定変更は、ここで行なってください！
				$.support.cors = true;
				$.mobile.allowCrossDomainPages = true;
			});

			$(document).ready(function(){
				document.addEventListener("deviceready", onDeviceReady, false);
			});

			function onDeviceReady() {
				
				$('#loading').css('display', 'block');
				$('#content').css('display', 'none');

				// 設定ファイルの読み込み
				getonOrdering(onReadyFile);
			}

			function onReadyFile(json) {

				// Alert -----------------------------------------------------------------------
			//	navigator.notification.alert("show_item.html");
				
				// GETでJSON取得
				var get = getQuery();
				console.log("getQuery: " + JSON.stringify(get));
				
				// orderファイルに保存
				fname = 'order';
				setFile(fname, get);


				
				get['customer_id']  = json.customer_id;
				get['customer_key'] = json.customer_key;
				get['customer_mail_1'] = json.customer_mail_1;

				get['app_ver']  = json.app_ver;
				get['app_code'] = json.app_code;
				get['url']      = json.url;
				get['http']     = json.http;
				get['https']    = json.https;

				if(get.order_amount){
					$("#order_amount").val(get.order_amount);
				}

				console.log("★customer_id: " + json.customer_id);
				console.log("★customer_key: " + json.customer_key);
				console.log("★customer_mail_1: " + json.customer_mail_1);

				if (json.customer_id) {
					var url = json.http+'json/get_addressee.php';
					var hash = {
						customer_id: json.customer_id,
						customer_key: json.customer_key,
						customer_mail_1: json.customer_mail_1
					};

					hash['app_ver']  = json.app_ver;
					hash['app_code'] = json.app_code;
					hash['url']      = json.url;
					hash['http']     = json.http;
					hash['https']    = json.https;

					$.ajax({
						type: "POST",
						url: url,
						data:hash,
						success: function(data){
							if (data.address_id) {
								$("#addressee").css("display", "block");
								$("#recipient_subject").text(String(data.address_name));
							}
						},
						error: function(){
							networdERR(errorPostCallBack,'通信エラー');
//							return false;
						}
					});

				}

				// 商品情報を取得
				sendData(get);

				// 商品情報を取得 -----------------------------------------------------------------------
				function sendData(get) {
					console.log("sendData: " + JSON.stringify(get));
					var url = get.http+'json/send_item_info.php';
					var hash = {
						qr_id: get.qr_id,
						customer_id: get.customer_id,
                        customer_key: get.customer_key,
                        customer_mail_1: get.customer_mail_1
					};

					hash['app_ver']  = get.app_ver;
					hash['app_code'] = get.app_code;
					hash['url']      = get.url;
					hash['http']     = get.http;
					hash['https']    = get.https;

					$.ajax({
						type: "POST",
						url: url,
						data:hash,
						success: function(data){
							// loading追加処理
							$('#loading').css('display', 'none');
							$('#content').css('display', 'block');
							// 商品詳細
							if (data != {} && data != null) {
								// 商品情報をセット
								setData(data);
							} else {
								var message = 'もう一度QRコードを撮影してください';
								var title = '商品情報を取得できませんでした';
								var button = 'OK';
								navigator.notification.alert(message, alertCallBack(), title, button);
							}
						},
						error: function(){
							networdERR(errorPostCallBack,'通信エラー');
						}
					});

				}
				// alertCallBack -----------------------------------------------------------------------
				function errorPostCallBack() {
					window.location.href = 'setting.html';
				}
				// alertCallBack -----------------------------------------------------------------------
				function alertCallBack() {
					window.location.href = 'barcode.html';
				}

				// 商品情報をセット
				function setData(params) {
					console.log(params);
					window.localStorage.removeItem('order_params');
					window.localStorage.setItem('order_params', JSON.stringify(params));
					// 商品名
					//document.getElementById("item_name").innerText = params['item_name'];
					$("#item_name").text(params['item_name']);

					// 商品画像
					//var item_image = '<img src="' + params['item_image'] + '" width="150" height="150" alt="商品画像" />';
					//document.getElementById("item_image").innerHTML = item_image;

					$("#item_image1").attr("src", params['item_image']);

					// 商品価格
					item_price = '無料';
					if (parseInt(params['item_price']) > 0) {
						var item_price = currency(String(params['item_price'])) + '円';
					}
					//document.getElementById("item_price").innerText = item_price;
					$("#item_price").text(item_price);

					// 商品情報更新
					if (params['item_update_flg'] == 'enable' && parseInt(params['item_create_time']) != parseInt(params['item_update_time'])) {
						var data_change = '<div class="data_change"><div class="tl">' + getDate(params['item_update_time']) + 'に商品情報が変更されました</div></div>';
						document.getElementById("data_change").innerHTML = data_change;
					}

					// １個の送料
					var shippingCost = '<a href="website_soryo.html?qr_id='+params["qr_id"]+'" deta-transition="slide" data-ajax="false" class="shippingCost_link">';
					shippingCost += '<dl class="shippingCost"><dt>送料</dt><dd id="order_carriage"><span id="carriage">';
					if (parseInt(params['order_carriage']) > 0) {
						shippingCost += currency(params['order_carriage']) + '円　　</span></dd></dl>';
					} else {
						if(params['customer_id'] && params['customer_id'] > 0){
							shippingCost += '送料無料　　</span></dd></dl>';
						}else{
							shippingCost += '送料を確認　　</span></dd></dl>';
						}
					}
					shippingCost += '<span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></a>';
					document.getElementById("shippingCost").innerHTML = shippingCost;

					// 送料無料金額
					if (parseInt(params['non_carriage_price']) > 0) {
						var non_carriage_price = '<dl class="shippingCost"><dd id="order_carriage"><span>';
						non_carriage_price = non_carriage_price + currency(params['non_carriage_price']) + '円以上は送料無料</span></dd></dl>';
						document.getElementById("non_carriage_price").innerHTML = non_carriage_price;
					}

					// 在庫状況
					item_stock_sts = '';
					// 購入不可メッセージ
					$('#notSalesMsg').css('display', 'none');
					// params.item_stock_sts = 'discontinued'; // test
					// if (params['item_is_activate_flg'] == 'enable' || params['item_is_ready_flg'] == 'enable'){ // test
					if (params['item_is_activate_flg'] == 'disable' || params['item_is_ready_flg'] == 'disable') {
						item_stock_sts = '<p class="ico ico_backOrder">販売準備中</p>';
						$('#item_buy_3').css('display', 'none');
					//	$('#notSalesMsg').css('display', 'block');
						$('.buyView').css('display', 'none');
						popup('warning', '販売準備中商品', '現在、ご購入いただけません。');
						
					} else if (params.item_stock_sts == 'backstock') {
						item_stock_sts = '<p class="ico ico_backOrder">入荷待ち</p>';
						$('#item_buy_3').css('display', 'none');
					//	$('#notSalesMsg').css('display', 'block');
						$('.buyView').css('display', 'none');
						popup('warning', '入荷待ち商品', '現在、ご購入いただけません。');
						
					} else if (params.item_stock_sts == 'discontinued') {
						item_stock_sts = '<p class="ico ico_discontinued">販売期間終了</p>';
						$('#item_buy_3').css('display', 'none');
					//	$('#notSalesMsg').css('display', 'block');
						$('.buyView').css('display', 'none');
						popup('warning', '販売期間終了商品', '現在、ご購入いただけません。');
						
					} else if (params.item_stock_sts == 'nostock' || parseInt(params.item_stock_sts) < 1 || parseInt(params.item_stock_sts) < parseInt(params.item_min_sales)) {
						item_stock_sts = '<p class="ico ico_backOrder">在庫切れ</p>';
						$('#item_buy_3').css('display', 'none');
					//	$('#notSalesMsg').css('display', 'block');
						$('.buyView').css('display', 'none');
						popup('warning', '在庫切れ商品', '現在、ご購入いただけません。');
						
					} else if (params.item_is_stop_flg == 'disable') {
						item_stock_sts = '<p class="ico ico_discontinued">販売中止</p>';
						$('#item_buy_3').css('display', 'none');
					//	$('#notSalesMsg').css('display', 'block');
						$('.buyView').css('display', 'none');
						popup('warning', '販売中止商品', '現在、ご購入いただけません。');
					
					} else if (parseInt(params.item_stock_sts) < 3 && parseInt(params.item_stock_sts) > 0) {
						item_stock_sts = '<p class="ico ico_onlyRemaining">残りわずか</p>';
					}
					if (item_stock_sts != '') {
						document.getElementById("item_stock_sts").innerHTML = item_stock_sts;
					}

					// 合計金額
					if (params.is_sales_flg == 'enable') {
						var total_price = currency(String(parseInt(params.item_price) + parseInt(params.order_carriage))) + '円(税込)';
						// document.getElementById("total_price").innerHTML = total_price;
						$("#total").text(total_price);
					} else {
						$('#total_price').css('display', 'none');
					}

					// 数量
					if (params.is_sales_flg == 'enable') {
						var amount = '';
						var min = parseInt(params.item_min_sales);
						var max = 1;
						if (parseInt(params.item_stock_sts) > parseInt(params.item_max_sales)) {
							max = parseInt(params.item_max_sales);
						} else {
							max = parseInt(params.item_stock_sts);
						}
						// 合計金額をrelに持たせる
						for (var i = min; i <= max; i++) {
							var toto = parseInt(params.item_price) * i;
							if( params['non_carriage_price'] == 0 || params['non_carriage_price'] > toto){
								toto = toto + parseInt(params.order_carriage);
							}
							amount += '<option value="' + String(i) + '" rel="' + toto + '">' + String(i) + '</option>';
						}
						$('#order_amount').html(amount).selectmenu('refresh', true);

					} else {
						$('#item_quantity_buy').css('display', 'none');
						$('#item_quantity_buy2').css('display', 'none');
						$('#item_buy_3').css('display', 'none');
					}

					// 商品説明
					var shop_contact = '<div class="txt" style="font-weight:bold;">' + params.item_name + '</div><div class="txt">';
					shop_contact = shop_contact + params.item_short_desc + '</div>';
					document.getElementById("shop_contact").innerHTML = shop_contact;

					// 販売社名
					document.getElementById("company_name").innerText = String(params['company_name']);
					document.getElementById("company_name_2").innerText = String(params['company_name']);
					// 営業時間
					if (params['company_liaise'] && params['company_liaise'] != "") {
						var company_liaise = '（営業時間: ' + params['company_liaise'] + '）';
						document.getElementById("company_liaise").innerText = company_liaise;
					}
					// 代表者
					document.getElementById("company_president").innerText = params['company_president'];
					// 電話番号　商品詳細ページ
					//				var company_phone = '<a class="btn_prev" href="tel:' + params['company_phone'] + '" data-role="button">電話で問い合わせる</a>';
					//				document.getElementById("company_phone").innerHTML = company_phone;
					$("#company_phone_go").attr("href", "tel:" + params['company_phone']);
					// 住所
					var zipcode = "";
					if (params['company_zip'] && params['company_zip'] != "") {
						zipcode = "〒" + params.company_zip + " ";
					}
					document.getElementById("company_address").innerText = String(zipcode + params['company_address1']) + String(params['company_address2']) + String(params['company_address3']);
					// 電話　特商
					//				var company_phone2 = '<a class="btn_prev" href="tel:' + params['company_phone'] + '" data-role="button">電話で問い合わせる</a>';
					//				document.getElementById("company_phone2").innerHTML = company_phone2;
					$("#company_phone2").text(params['company_phone']);
					$("#company_phone2_go").attr("href", "tel:" + params['company_phone']);
					// 商品代金以外に必要な金額
					if (params['company_charge'] && params['company_charge'] != "") {
						document.getElementById("company_charge").innerText = params['company_charge'];
					} else {
						document.getElementById("company_charge").innerText = '商品代金以外の必要料金はありません。';
					}
					// 商品引き渡し
					if (params['company_report_time'] && params['company_report_time'] != "") {
						document.getElementById("company_report_time").innerText = params['company_report_time'];
					} else {
						document.getElementById("company_report_time").innerText = 'ご入金確認後のお届けになります。詳しい到着日はお尋ね下さい。';
					}
					// 返品
					if (params['company_returned'] && params['company_returned'] != "") {
						document.getElementById("company_returned").innerText = params['company_returned'];
					} else {
						document.getElementById("company_returned").innerText = 'お届けした商品がお申し込みと異なっていた場合は交換させて頂きます。';
					}
					console.log("contact qr_id: " + params.qr_id );
					contact = 'contact.html?&qr_id=' + params.qr_id + '&item_version=' + params.item_version + '&customer_id=' + params.customer_id;
					$("#contact").attr("href",contact);
					
					$("#loading").css("display", "none");
					$("#content").css("display", "block");
					
					setLocalStorage('show_item_params', JSON.stringify(params));
					
					// 保存した数量変化の値をセット
					getFile("backAmount", ChPriceOK,ChPriceNG);
					function ChPriceOK(hash){
						// alert('getFile::backAmount ' + JSON.stringify(hash));
						var total = currency(String(hash.total)) + '円(税込)';
						$('#order_amount').val(String(hash.selectedValue));
						$('#total').text(total);
						$('#order_carriage').html(hash.carriage);
						$('.item_summary').listview();
						
						$('#order_amount').val(String(hash.selectedValue)).selectmenu('refresh', true);
					}
					function ChPriceNG(){
						$('.item_summary').listview();
					}
					// $('.item_summary').listview();

				}

			} // onDeviceReady

			function changePrice() {
			//	delFile('backAmount'); - barcode.htmlへ
				var paramsText = getLocalStorage('show_item_params');
				var params = JSON.parse(paramsText);
				var tototo2 = currency(String(parseInt($('#order_amount option:selected').attr('rel'))+ parseInt(params.order_carriage))) + '円(税込)';
				var total = parseInt($('#order_amount option:selected').attr('rel'));
				$("#total").text(tototo2);
				// 送料無料の反映
				var htmlCarriage = '';
				if (parseInt(total) >= parseInt(params.non_carriage_price)) {
					htmlCarriage = '<span id="carriage">送料無料</span>';
				} else {
					htmlCarriage = '<span id="carriage">' + String(params.order_carriage) + '</span>';
				}
				$('#order_carriage').html(htmlCarriage);
				// 変化した値を保存
				var chPrice = {
					amount: parseInt($('#order_amount option:selected').attr('rel')),
					total: parseInt($('#order_amount option:selected').attr('rel')),
					tototo2: parseInt($('#order_amount option:selected').attr('rel'))+ parseInt(params.order_carriage),
					carriage: htmlCarriage,
					selectedValue: $('#order_amount').val(),
				};
				setFile("backAmount", chPrice);
			}

			// 注文へ
			function order() {
				// 設定ファイルの読み込み
				getonOrdering(order2);
			}

			function order2(json) {

				// GETでJSON取得
				var params = getQuery();

				params['order_time']  = parseInt(new Date() / 1000);
				params['order_amount'] = document.getElementById('order_amount').value;
				itemText = window.localStorage.getItem('order_params');
				item = JSON.parse(itemText);
				params['item_version'] = item['item_version'];
				params['sample_id']    = item['sample_id'];
				params['customer_id'] = json.customer_id;

				console.log('order params1 :' + JSON.stringify(params));

				fname = 'order';
				setFile(fname, params, goOrder, goOrder);
				// ファイル削除
				delFile("backAmount");

				function goOrder(){
					console.log('order::params2 :' + JSON.stringify(params));
					// リダイレクト
					window.location.href = "order.html?order=" + JSON.stringify(params);
				}

			}

			// alertCallBack -----------------------------------------------------------------------
			function alertCallBack() {
				window.location.href = 'barcode.html';
			}
			
		</script>
		
		<script type="text/javascript" charset="utf-8" src="js/jquery.mobile-1.2.0.min.js"></script>

	</head>
	<body>

		<div data-role="page" id="page_itemDetail" data-add-back-btn="false" data-theme="z">
			<div data-role="header" id="header" data-position="fixed">
				<h1>商品情報</h1>
				<!--<a id="backb" href="#" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse" data-ajax="false"> 戻る </a>-->
				<a href="website.html" class="ui-btn-right" data-icon="info" data-direction="reverse" data-ajax="false">使い方</a>
			</div>
			<!-- loading -->
			<div class="loading" data-role="content" id="loading">
				<div class="loading_box">
					<p>しばらくおまちください</p>
					<div id="loadingImg" class="square"></div>
					<script>
						$(function() {
							$('#loadingImg').activity({
								segments : 12,
								width : 6,
								space : 3,
								length : 20,
								color : '#FFFFFF',
								speed : 1.5,
								align : 'center',
								valign : 'center'
							});
						});
					</script>
				</div>
			</div>
			<!-- content -->
			<div class="cont_itemDetail" data-role="content" id="content" style="display:none;">

				<form method="POST" action="show_order.html" onSubmit="return false;">
					<div id="item_version_tete" ></div>

					<!-- 商品情報変更 -->
					<div id="data_change"></div>
					<ul class="item_summary" data-role="listview">
						<!-- 商品名 -->
						<li class="item_name">
							<h1 class="name" id="item_name"></h1>
						</li>
						<li class="item_img_price">
							<div class="box2">
								<!-- 商品画像 -->
								<div class="box2_01 item_img">
									<div class="inner" id="item_image">
										<img src="#" width="150" height="150" alt="商品画像" id="item_image1"/>
									</div>
								</div>
								<div class="box2_02 item_price">
									<!-- 価格 -->
									<dl class="price">
										<dt>
											価格
										</dt>
										<dd id="item_price"></dd>
									</dl>
									<!-- 送料 -->
									<div id="shippingCost"></div>
									<!-- 送料無料 -->
									<div id="non_carriage_price"></div>
									<!-- 在庫状況 -->
									<div id="item_stock_sts"></div>
									<div id="notSalesMsg">只今、ご購入いただけません。</div>
								</div>
							</div>
						</li>
						<!--<% if @item_info_app.is_sales_flg == 'enable' %><% if @is_pref_flg == 'enable' %>	-->
						<!-- 合計金額 -->
						<li id="total_price" class="total_price buyView">
							<div class="item_buy_price">
								<span>ご購入合計金額：</span>
								<span id="total"></span>
							</div>
						</li>
						<!-- 数量-->
						<li class="item_quantity_buy buyView" id="item_quantity_buy">
							<div class="box2">
								<div class="box2_01 item_quantity">
									<div class="inner">
										<div date-role="fieldcontain">
											<p>
												数量：
												<select class="itemValue" id="order_amount" name="order_amount" onChange="changePrice();">
													<option value=1 id="item_quantity_sel">1</option>
												</select>
											</p>
										</div>
									</div>
								</div>
								<div class="box2_02 item_buy btn_txt_ow" id="item_quantity_buy2">
									<a class="btn_next" type="button" onClick="order(); return false">購入する</a>
								</div>
							</div>
						</li>
						<!--<% end %>-->
					</ul>
					<!-- お届け先 -->
					<ul id="addressee" class="item_summary" data-role="listview" style="display:none;">
                        <li id="item_shippingAddress" class="item_shippingAddress">
                            <a href="addressee_index.html" data-ajax="false">
                                現在のお届け先：<span id="recipient_subject"></span>
                                <p class="txt">お届け先の変更はこちら</p>
                            </a>
                        </li>
                    </ul>
					<ul class="item_summary" data-role="listview">
						<!-- 商品説明 -->
						<li class="shop_contact" id="shop_contact" ></li>
						<!-- 販売者 -->
						<li class="shop_neme">
							<!--<a href="#page_shopProfile" deta-transition="slide"> 販売者：<span id="company_name"></span>-->
							<a href="#page_shopProfile" deta-transition="slide">
								販売者：<span id="company_name"></span>
								<p class="txt">
									販売者・特定商取引の詳細はこちら
								</p>
							</a>
						</li>
						<li class="shop_contact">
							<div class="txt">
								販売者へのお問い合わせはこちらから
							</div>
							<div class="box2">
								<div class="box2_01 contact_link">
									<a class="btn_prev form_link" href="" data-role="button"  data-ajax="false" id="contact">フォームから</a>
								</div>
								<div class="box2_02 tel_link" id="company_phone" >
									<a class="btn_prev tel_link" href="#" data-role="button" id="company_phone_go">電話から</a>
								</div>
							</div>
						</li>
						<li class="item_buy_1btn" id="item_buy_3">
							<div class="item_buy btn_txt_ow">
								<a class="btn_next" type="button" onClick="order(); return false">購入する</a>
							</div>
						</li>
						<!--<% end %>-->
					</ul>
				</form>
			</div>
			<div id="nav" class="footer" data-role="footer" data-id="tabber" data-position="fixed">
				<ul>
					<li class="tab01">
						<a href="show_order.html"  data-ajax="false"> <span>注文履歴</span> </a>
					</li>
					<li class="tab02 current">
						<a href="barcode.html"  data-ajax="false"> <span>読み取り</span> </a>
					</li>
					<li class="tab03">
						<a href="setting.html" data-ajax="false"> <span>設定</span> </a>
					</li>
				</ul>
			</div><!-- /dr-footer -->
		</div>
		<!-- /page -->

		<!-- 販売者・特定商取引ここから-->
		<div id="page_shopProfile" data-role="page" data-add-back-btn="false" data-theme="z">
			<div data-role="header" id="header" data-position="fixed">
				<!--<h1>特定商取引法に基づく表示</h1>-->
				<h1><font size="2">特定商取引情報</font></h1>
				<a href="#page_itemDetail" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse"> 戻る </a>
			</div>
			<!-- コンテンツここから-->
			<div data-role="content" class="cont_shopProfile">
				<dl>
					<dt>
						販売業者
					</dt>
					<dd>
						<span id="company_name_2"></span>
						<br/>
						<span id="company_liaise"></span>
					</dd>
					<dt>
						運営責任者
					</dt>
					<dd id="company_president"></dd>
					<dt>
						所在地
					</dt>
					<dd id="company_address"></dd>
					<dt>
						電話番号
					</dt>
					<dd id="company_phone2"></dd>
					<dt>
						商品代金以外の必要料金
					</dt>
					<dd id="company_charge"></dd>
					<dt>
						お支払方法
					</dt>
					<dd>
						クレジットカード決済
					</dd>
					<dt>
						お支払い期限
					</dt>
					<dd>
						即時決済
					</dd>
					<dt>
						商品の引き渡し時期
					</dt>
					<dd id="company_report_time"></dd>
					<dt>
						返品・交換について
					</dt>
					<dd id="company_returned"></dd>
				</dl>
			</div>

		</div>

	</body>
</html>